.home
 &-about
  padding-top: 110px
  padding-bottom: 10px
  &__cont
   width: 75%
  &__subtitle
   padding-left: 49px
   font-weight: 500
   font-size: 28px
   line-height: 140%
   text-transform: uppercase
   position: relative
   margin-bottom: 65px
   span
    color: #32A5EB
  &__wrap
   display: flex
   justify-content: space-between
   align-items: flex-start
  &__img
   img
    width: 100%
  &__lines
   position: absolute
   height: 100%
   top: 0
   left: 4px
   width: 7px
   border-left: 2px solid #2979AE
   border-right: 3px solid #1F4D73
   &::before
    content: ""
    display: block
    width: 1px
    height: 100%
    background: #32A4EA
    position: absolute
    left: -6px
    top: 0
   &::after
    content: ""
    display: block
    width: 5px
    height: 100%
    background: #162137
    position: absolute
    right: -10px
    top: 0
  &__nums
   padding: 60px 0
   display: flex
  &__num
   width: 25%
   font-weight: 300
   font-size: 20px
   line-height: 24px
   text-transform: uppercase
   color: #162137
   padding-left: 40px
   span
    font-weight: 700
    font-size: 70px
    line-height: 83px
    color: #32A5EB
    display: block
    margin-left: -40px
   b
    font-weight: 700
    font-size: 20px
    line-height: 24px
    text-transform: uppercase
    color: #162137
 &-features
  padding-top: 110px