.login
    position: relative
    padding: 80px 0
    &__img
        background: #32A5EB
        position: absolute
        width: 50vw
        height: 100%
        top: 0
        right: 0
        display: flex
        justify-content: center
        align-items: center
        overflow: hidden
    &__title
        font-weight: 600
        font-size: 70px
        line-height: 126.7%
        text-transform: uppercase
        color: #32A5EB
        margin: 0
        margin-bottom: 59px
    &__form
        width: 470px
        max-width: 45%
        input
            display: block
            width: 100%
            margin-bottom: 16px
            appearence: none
            border: 0
            border-bottom: 1px solid #32A5EB
            padding: 18px 20px
            transition: all 0.3s
            font-size: 16px
            line-height: 150%
            color: #162137
            &:focus
                padding-bottom: 17px
                border-bottom: 2px solid #32A5EB
        .btn
            margin-bottom: 58px
    &__check
        margin: 40px 0
        span
            width: 14px
            height: 14px
            margin-right: 17px
        p
            line-height: 13px
    &__text
        margin-top: 18px
        margin-bottom: 0
        font-weight: 400
        font-size: 14px
        line-height: 17px
        color: #162137
        max-width: 45%
        a
            color: #32A5EB
            text-decoration: none
            &:hover
                color: darken(#32A5EB, 10)
@media(max-width: 767px)
    .login
        padding-bottom: 60px
        padding-top: 450px
        &__img
            width: 100vw
            height: 400px
            img
                max-width: 90%
                max-height: 90%
        &__form,&__text
            max-width: 100%
@media(max-width: 575px)
    .login
        padding-top: 103.13vw
        padding-bottom: 9.38vw
        &__img
            height: 87.50vw
        &__title
            font-size: 10vw
            line-height: 12.50vw
            margin-bottom: 9.06vw
        &__form
            input
                padding: 5vw 6.25vw
                font-size: 4.38vw
                line-height: 150%
                margin-bottom: 7.19vw
                &:focus
                    padding-bottom: 4.69vw
            .btn
                width: 100%
                padding: 5vw
                font-size: 4.38vw
                line-height: 5.31vw
                margin-bottom: 6.56vw
        &__check
            margin-top: 11.56vw
            margin-bottom: 18.13vw
            span
                width: 4.38vw
                height: 4.38vw
                margin-right: 5.31vw
        &__text
            margin-top: 7.50vw
            font-size: 4.38vw
            line-height: 172%
