.zekkert
 &-top
  height: 595px
  position: relative
  background: #32A5EB
  overflow: hidden
  &::after
   content: ""
   height: 100%
   width: 100%
   display: block
   position: absolute
   left: 60%
   top: 0
   background-color: #fff
   transform: skew(-30deg)
  &__title
   font-weight: 300
   font-size: 70px
   line-height: 89px
   text-transform: uppercase
   color: #FFFFFF
   padding-top: 155px
   padding-bottom: 173px
   margin: 0
   span
     font-weight: 600
     display: block
  &__wrap
   position: relative
  &__img
   bottom: 0
   display: flex
   right: 40px
   position: absolute
   z-index: 3
   span
    position: absolute
    top: 156px 
    right: -34px
    display: flex
 &-main
  padding-top: 125px
  padding-bottom: 145px	
  &__title
   margin-bottom: 80px
   margin-top: 0
   font-weight: 500
   font-size: 28px
   line-height: 140%
   text-transform: uppercase
  &__wrap
   display: grid
   grid-template-columns: repeat(3, 1fr)
   border-collapse: collapse
   border-right: 1px solid #32A5EB
   margin-top: 70px
  &__block
   border: 1px solid #32A5EB
   border-right: 0
   border-collapse: collapse
   padding: 54px 57px 100px 57px
  &__el
   margin-bottom: 62px
   font-weight: 500
   font-size: 20px
   line-height: 24px
   color: #162137
   position: relative
   &::before
    content: ""
    left: -29px
    position: absolute
    top: 6px
    display: block
    width: 6px
    height: 6px
    border-radius: 50%
    border: 2px solid #32A5EB
  &__text
   font-weight: 500
   font-size: 20px
   line-height: 140%
   color: #162137
   span
    color: #32A5EB
  &__last
   display: grid
   grid-template-columns: repeat(2,1fr)
   border: 1px solid #32A5EB
   border-top: 0
  &__prize
   background-color: #32A5EB
   padding: 105px 50px
   position: relative
   p
    margin: 0
    display: block
    max-width: 450px
    font-size: 20px
    line-height: 140%
    color: #FFFFFF
   &-img
    position: absolute
    bottom: 0
    right: 0
    display: flex 
  &__all
   padding: 87px 60px
   padding-bottom: 40px
   &-title
    margin-bottom: 45px
    font-weight: 500
    font-size: 40px
    line-height: 140%
    text-transform: uppercase
    color: #32A5EB
   &-list
    list-style-type: none
    margin: 0
    padding: 0
    li
     margin-bottom: 60px
     padding-left: 60px
     font-weight: 600
     font-size: 20px
     line-height: 140%
     color: #32A5EB
     position: relative
     &::before
      content: ""
      display: block
      width: 26px
      height: 26px
      top: 0
      left: 0
      position: absolute
      background: url('../img/zekkert-list.svg') center no-repeat
 &-cat
  padding-bottom: 80px
  .section__title
   margin: 0
  &__top
   display: flex
   justify-content: space-between
   align-items: flex-start
   margin-bottom: 60px
  &__title
   width: 810px
   max-width: 80%
   font-weight: 500
   font-size: 28px
   line-height: 140%
   text-transform: uppercase
   span
    color: #32A5EB
  &__wrap
   display: grid
   grid-template-columns: repeat(5, 1fr)
   border-right: 1px solid #32A5EB
   margin-bottom: 105px
  &__block
   padding: 25px
   border: 1px solid #32A5EB
   border-right: 0
  &__img
   width: 100%
   height: 140px
   display: flex
   justify-content: center
   align-items: center
   margin-bottom: 44px
   img
    max-width: 100%
    max-height: 100%
  &__name
   font-weight: 500
   font-size: 20px
   line-height: 140%
   color: #32A5EB
  &__btn
   width: 450px
   height: 50px
   padding: 0
   display: flex
   justify-content: center
   align-items: center