body
    margin: 0
    font-family: 'Mazzard', sans-serif
    font-weight: 400
*
    box-sizing: border-box
a
    transition: all 0.3s
input, button
    font-family: 'Mazzard', sans-serif
    border-radius: 0
    &:focus
        outline: none
@import "fonts"
@import "interface"
@import "contacts"
@import "popup"
@import "home"
@import "login"
@import "register"
@import "news"
